<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="C:\Users\Artem\HelloNode\views" />
  <title>Node.js Nexmo API Testing</title>
</head>
<body>
  <h1>Test interface from Artem Pereverzev - Vonage, Nexmo API</h1>
  <div class="container">
    <h2>Send SMS Message</h2>
    <input type="button" id="button" value="Send Text" class="button button-primary">
    <input type="tel" name="number" id="number" placeholder="Enter Phone Number...">
    <input type="text" name="msg" id="msg" placeholder="Enter Text Message...">
    <select name="schedule" id="schedule">
      <option value="0">Schedule time to send a message</option>
      <option value="1">After 1 minutes</option>
      <option value="3">After 3 minutes</option>
      <option value="5">After 5 minutes</option>
    </select>
    <p class="response"></p>
  </div>
  <div class="container">
    <h2>Send WhatsApp Message</h2>
    <input type="tel" name="number" id="wanumber" placeholder="Enter Phone Number...">
    <input type="text" name="msg" id="wamsg" placeholder="Enter Text Message...">
    <input type="button" id="wabutton" value="Send Text" class="button button-primary">
    <p class="response"></p>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
</body>
</html>